<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=Cantata+One|Inconsolata|Andada|Varela|Buda:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/resumeh.css">
<link rel="stylesheet" href="/css/screen.css">
<link rel="stylesheet" href="/css/pdf.css">

<title>{{page.title}}</title>

</head>

<body class="">

<div class="container">
    <div class="resume">
        {{content}}
    </div>
</div>

</body>
</html>
